<div class="card box-shadow-4">
  <div class="layout-row align-spread">
    <div>
      <img width="225" ng-src="http://lorempixel.com/225/150/people/{{$ctrl.card.id}}" />
      <div class="name">
        {{ $ctrl.card.name }}
      </div>      
      <a class="email" ng-href="http://{{$ctrl.card.website}}" target="_blank">{{ $ctrl.card.website }}</a>      
      <div class="company txt-center">
        {{ $ctrl.card.company.name }}
      </div>
      <div class="txt-center">
        {{ $ctrl.card.phone }}
      </div>
    </div>
    <div ng-if="$ctrl.details">
      <img width="225" ng-src="{{$ctrl.map}}" />      
      <address class="txt-right">
        <span>{{'ADDRESS' | translate}}:</span>
        <a class="email" ng-href="mailto:{{$ctrl.card.email}}">{{$ctrl.card.email}}</a><br>
        {{ $ctrl.address.street }}<br>
        {{ $ctrl.address.suite }}<br>
        {{ $ctrl.address.city }}<br>
        {{ $ctrl.address.zip }}<br>
      </address>      
    </div>
  </div>
  <div class="layout-row align-spread">
    <button ng-if="!$ctrl.details" class="btn btn-outline-warning btn-sm" ng-click="$ctrl.deleteCard();">
      {{'DELETE' | translate}}
    </button>    
    <button ng-if="$ctrl.details" class="btn btn-outline-warning btn-sm" ng-click="$ctrl.goBack();">
      {{'BACK' | translate}}
    </button>
    <button ng-if="!$ctrl.details" class="btn btn-outline-info btn-sm" ui-sref="cards.details({ cardId: $ctrl.card.id })">
      {{'DETAILS' | translate}}
    </button>
  </div>
</div>