body, html {
    height: 100%;
    position: relative;
    min-height: 100%;
}

body {
    overflow: hidden;
    max-width: 100%;    
}

a {
    color:white;
}

a.active {
    color: #23527c;
    text-decoration: underline;
}

select {
    background: transparent;
    border: none;
}

.card-list {
    flex-wrap: wrap;    
    margin: 2em 0 0;
    width: 100%;
    min-height: 448px;    
    padding: 8px 8px 32px 8px;
    justify-content: center;
}

.card {    
    margin: 25px;
    padding: 8px;
}

.name {
    font-size: large;
    font-weight: 600;
}

.txt-center{
    text-align: center;
}

.txt-right{
    text-align: right;
}

.email {
    font-style: italic;
    text-transform: lowercase;
    color: inherit;
}

address {
    margin: 0;
}

.company {    
    color: rgb(11, 169, 83);
}

.toolbar {    
    position: relative;    
    font-size: 110%;
    min-height: 3em;
    padding: 0 2em;
    background: #5bc0de;
    align-items: center;
}

[name|="toolbar"] label {
    font-weight: normal;
    margin: 0;
}

input[type=text] {
    max-width: 160px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 21px;
    font-size: small;
}

form {
    max-height: 21px;
    border: none;
    margin: 0 .5em;
}

.form-group {
    margin-bottom: .5em;
    flex-direction: column;
    display: flex;
    width: 100%;
}

.form-group input {
    max-width: 100%;
}

.card-add {
    align-items: center;
    margin-top: 4em;
}

.card-add form {
    max-height: inherit;
}

.card-add pre {
    width: 100%;
}

.in-filter {
    width: 200px;
    color: #444;
    position: fixed;
    background: rgba(255,255,255,.5);
    margin: 1em;
}

.in-button{
    position: fixed;
    right: 0;
    margin: 1.5em;
}

#details{
    position: fixed;    
    background: rgba(255,255,255,.9);
    top: 0;
    left: -100%;
    bottom: 0;
    width: 100%;
    transform: translateX(0);
    transform-style: preserve-3d;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
    transition-property: transform, left;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

#details.active{    
    left: 0;
}

/* Flex */
.flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.flex-none {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.flex-grow {
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
}

.flex-auto {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.flex-nogrow,
.flex-initial {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

.flex-noshrink {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.flex-shrink {    
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
}
.flex,
.flex-none,
.flex-auto,
.flex-grow,
.flex-nogrow,
.flex-initial,
.flex-shrink,
.flex-noshrink {
    box-sizing: border-box;
}

[layout]>* {
    min-height: auto;
    min-height: initial;
}

.layout,
.layout-column,
.layout-row {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.layout-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.layout-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.layout-column>.flex {
    min-height: 0;
}

.layout-row>.flex {
    min-width: 0;
}

.row-center { 
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.column-center {
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.align-left{
    justify-content: flex-start;
        align-items: flex-start;
}

.align-right{
    justify-content: flex-end;
        align-items: flex-end;
}

.align-spread{
    justify-content: space-between;
}

.full-h{
    height: 100%;
}

.full-w{
    width: 100%;
}

.scroll-y {
    overflow-y: auto;
    overflow-x: hidden;
}

.scroll-x {
    overflow-y: hidden;
    overflow-x: auto;
}

/*buttons*/
.btn-outline-info {
    color: #5bc0de;
    background-image: none;
    background-color: transparent;
    border-color: #5bc0de;
}
.btn-info, .btn-outline-info:hover {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #2aabd2;
}

.btn-sm {
    padding: .25rem .5rem;
    font-size: 1.2rem;
    border-radius: .2rem;
}

.btn-outline-warning {
    color: #f0ad4e;
    background-image: none;
    background-color: transparent;
    border-color: #f0ad4e;
}

.btn-outline-warning:hover {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.shadow-glow-z1{
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}

.box-shadow-4{
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}